
/*
================================================================================

  General styles

================================================================================
*/


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include normalize-font;
  position: relative;
  background-color: #f3f3f3;
  font-family: $open-sans-font-stack;
}
