
/*
================================================================================

  Variables

================================================================================
*/



/* Fonts
------------------------------------ */

$open-sans-font-stack: 'Open Sans', sans-serif;



/* Colors
------------------------------------ */

$velvet-color: #4357ae;
$blue-color: #12a6e8;
$green-color: #4aac8b;
$light-green-color: #1fe3a1;
$pink-color: #ee1658;
$yellow-color: #e8a812;


$title-color: #434b5d;
$text-color: #878282;
