
/*
================================================================================

  "Assignments" page

================================================================================
*/






/* HEADER
============================================================ */

.assignments-header {
  position: fixed;
  top: 0;
  left: 24.5rem;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 4.6rem;
  padding-right: 4.6rem;
  background-color: #f3f3f3;


  // Expanded state
  &.js-collapsed {
    left: 10rem;
  }


  &__main-part {
  }

  &__title {
    margin-right: 2.7rem;
    margin-top: 0;
    margin-bottom: 0;
    color: $title-color;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: (30/22);
  }
}






/* FILTER
============================================================ */

.assignments-filter {
  display: flex;
  align-items: center;
}



/* Class
------------------------------------ */

.assignments-filter-class {
  overflow: hidden;
  display: inline-flex;
  margin-right: 12rem;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
  border-radius: 1rem;

  &__title {
    width: 7.8rem;
    height: 4rem;
    color: $title-color;
    background-color: #e5e5e5;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: 4rem;
    text-align: center;
  }

  &__select-wrapper {
    position: relative;
    background-color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__select {
    position: relative;
    z-index: 10;
    padding-left: 1.9rem;
    padding-right: 2rem;
    width: 8.9rem;
    height: 4rem;
    color: $text-color;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: normal;
    appearance: none;
    transition: background-color 200ms ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba($green-color, 0.05);
    }


    // IE
    &::-ms-expand {
      display: none;
    }
  }

  &__arrow-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 0.8rem;
    height: 0.5rem;
    fill: $blue-color;
  }
}



/* Result
------------------------------------ */

.assignments-filter-result {
  display: flex;

  &__container {
    display: flex;
    align-items: center;
  }

  &__item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-right: 0.9rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }


    // All modifier
    &--all {
      min-width: 8.8rem;
      background-color: $blue-color;

      // Amount
      .assignments-filter-result__amount {
        color: #fff;
      }

      // Title
      .assignments-filter-result__title {
        color: #fff;
      }
    }

    // Not started modifier
    &--not-started {

      // Amount
      .assignments-filter-result__amount {
        color: $pink-color;
      }
    }

    // In progress modifier
    &--in-progress {

      // Amount
      .assignments-filter-result__amount {
        color: $blue-color;
      }
    }

    // Submitted modifier
    &--submitted {

      // Amount
      .assignments-filter-result__amount {
        color: $yellow-color;
      }
    }

    // Graded modifier
    &--graded {

      // Amount
      .assignments-filter-result__amount {
        color: $green-color;
      }
    }
  }

  &__amount {
    margin-right: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    line-height: (33/24);
  }

  &__title {
    color: $text-color;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: (15/11);
    text-transform: uppercase;
  }
}

// Total
.assignments-filter-result-total {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 0.9rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  min-width: 8.8rem;
  height: 4rem;
  border: 0;
  border-radius: 1rem;
  background-color: $blue-color;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
  cursor: pointer;

  &__amount {
    margin-right: 1rem;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    line-height: (33/24);
  }

  &__title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: (15/11);
    text-transform: uppercase;
  }

  &__arrow-icon {
    display: none;
  }
}






/* CONTENT
============================================================ */

.assignments-content {
  padding-top: 11.3rem;
  padding-bottom: 5rem;
}



/* Item
------------------------------------ */

.assignments-content-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 1rem rgba(#000, 0.1);

  &:last-child {
    margin-bottom: 0;
  }


  &__thumbnail {
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 3.9rem;
    width: 16.7rem;
    border-radius: 1rem;

    // Image
    img {
      display: block;
      max-width: 100%;
    }
  }

  &__summary {
    margin-right: 3rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $blue-color;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: (23/17);
  }

  &__due-date {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #444444;
    font-size: 1.4rem;
    line-height: (19/14);


    // Icon
    svg {
      margin-right: 1.1rem;
      width: 1.7rem;
      height: 1.7rem;
      fill: $pink-color;
    }
  }

  &__label {
    flex-shrink: 0;
    width: 10.8rem;
    height: 2.4rem;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    line-height: 2.4rem;
    text-align: center;
    text-transform: uppercase;


    // Not started
    &--not-started {
      background-color: $pink-color;
    }

    // In progress
    &--in-progress {
      background-color: $blue-color;
    }

    // Submitted
    &--submitted {
      background-color: $yellow-color;
    }

    // Graded
    &--graded {
      background-color: $green-color;
    }
  }

  &__btn {
    flex-shrink: 0;
    margin-left: auto;
    width: 19.8rem;
    height: 5rem;
    color: $blue-color;
    border: 0.1rem solid $blue-color;
    border-radius: 6.5rem;
    outline: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: 4.8rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $blue-color;
    }
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1600px
@include mq($until: mq1600px) {

  // Class
  .assignments-filter-class {
    margin-right: 4rem;
  }

}


// Until 1360px
@include mq($until: mq1360px) {

  // Class
  .assignments-filter-class {
    margin-right: 2rem;
  }

  // Result
  .assignments-filter-result {

    &__title {
      font-size: 1rem;
    }
  }

}


// Until 1280px
@include mq($until: mq1280px) {

  // Header
  .assignments-header {
    position: static;
    display: block;
    margin-bottom: 2.4rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    &__main-part {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      height: 8rem;
      background-color: #0eb08d;
    }

    &__title {
      color: #fff;
      font-size: 2.6rem;
      line-height: (36/26);
    }
  }

  // Filter
  .assignments-filter {
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  // Content
  .assignments-content {
    padding-top: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

}


// Until 920px
@include mq($until: mq920px) {

  // Class
  .assignments-filter-class {
    margin-right: 1rem;

    &__title {
      width: 8rem;
      height: 5.2rem;
      line-height: 5.2rem;
    }

    &__select {
      padding-left: 1.6rem;
      padding-right: 3.5rem;
      width: 12rem;
      height: 5.2rem;
      font-size: 1.4rem;
      letter-spacing: 0.03rem;
    }

    &__arrow-icon {
      right: 1.2rem;
      width: 1.1rem;
      height: 0.6rem;
    }
  }

  // Result
  .assignments-filter-result {
    display: flex;
    position: relative;

    &__container {
      position: absolute;
      top: 5.2rem;
      left: 0;
      right: 0;
      display: none;
      flex-direction: column;


      // Opened state
      &.js-opened {
        overflow: hidden;
        display: block;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
      }
    }

    &__item {
      width: 100%;
      margin-right: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 2rem;
      padding-right: 3.5rem;
      height: auto;
      border-radius: 0;
      box-shadow: none;
    }

    &__amount {
      margin-right: 1.8rem;
      width: 3rem;
      color: $blue-color;
      font-size: 2.8rem;
      letter-spacing: 0.05rem;
      line-height: (38/28);
      text-align: center;
    }

    &__title {
      flex-grow: 1;
      color: $text-color;
      font-size: 1.3rem;
      line-height: (18/13);
      text-align: left;
    }
  }

  // Total
  .assignments-filter-result-total {
    position: relative;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 3.5rem;
    min-width: 20rem;
    height: 5.2rem;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);


    // Opened state
    &.js-opened {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;

      // Fake element
      &::after {
        content: '';
        position: absolute;
        top: 4.9rem;
        left: 0;
        right: 0;
        z-index: 10;
        height: 0.5rem;
        background-color: #fff;
      }

      // Arrow icon
      .assignments-filter-result-total__arrow-icon {
        transform: rotate(180deg) translateY(50%);
      }
    }


    &__amount {
      width: 3rem;
      color: $blue-color;
      font-size: 2.8rem;
      letter-spacing: 0.05rem;
      line-height: (38/28);
      text-align: center;
    }

    &__title {
      flex-grow: 1;
      margin-right: 2.5rem;
      color: $text-color;
      font-size: 1.3rem;
      line-height: (18/13);
      text-align: center;
    }

    &__arrow-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 1.2rem;
      transform: translateY(-50%);
      width: 1.1rem;
      height: 0.6rem;
      fill: $blue-color;
      transition: transform 200ms ease;
    }
  }

  // Content item
  .assignments-content-item {
    flex-direction: column;
    text-align: center;

    &__main-part {
      flex-direction: column;
    }

    &__thumbnail {
      margin-bottom: 1.7rem;
      margin-right: 0;
      width: auto;
    }

    &__summary {
      margin-bottom: 2.2rem;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 44rem;
    }

    &__title {
      margin-bottom: 0.4rem;
      color: $blue-color;
      font-size: 1.8rem;
    }

    &__due-date {
      justify-content: center;
      margin-bottom: 2.3rem;
    }

    &__label {
      margin-left: auto;
      margin-right: auto;
      width: 14rem;
      height: 3.2rem;
      font-size: 1.2rem;
      line-height: 3.2rem;
    }

    &__btn {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 32.6rem;
      height: 6rem;
      font-size: 1.6rem;
      line-height: 5.8rem;

      &:hover,
      &:focus {
        box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.16);
      }
    }
  }

}


// Until 768px
@include mq($until: mq768px) {

  // Header
  .assignments-header {

    &__main-part {
      margin-bottom: 1.1rem;
    }
  }

  // Class
  .assignments-filter-class {

    &__title {
      width: 8rem;
    }

    &__select {
      padding-left: 1.6rem;
      padding-right: 3.5rem;
      width: 9.5rem;
    }
  }

  // Total
  .assignments-filter-result-total {
    min-width: 17.5rem;
  }

  // Content item
  .assignments-content-item {

    &__btn {
      font-size: 1.4rem;
    }
  }

}


// Until 568px
@include mq($until: mq568px) {

  // Result
  .assignments-filter-result {

    &__amount {
      width: 2.4rem;
      font-size: 2.2rem;
    }

    &__title {
      font-size: 1.2rem;
      letter-spacing: 0;
      white-space: nowrap;
    }
  }

  // Total
  .assignments-filter-result-total {

    &__amount {
      width: 2.4rem;
      font-size: 2.2rem;
    }

    &__title {
      margin-right: 1.5rem;
      font-size: 1.2rem;
      letter-spacing: 0;
      white-space: nowrap;
    }
  }

}


// Until 414px
@include mq($until: mq414px) {

  // Filter
  .assignments-filter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // Content
  .assignments-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Header
  .assignments-header {

    &__main-part {
      height: 6rem;
    }

    &__title {
      font-size: 2rem;
    }
  }

  // Class
  .assignments-filter-class {
    flex-shrink: 0;

    &__title {
      flex-shrink: 0;
      width: 5rem;
      font-size: 1.2rem;
    }

    &__select {
      padding-left: 1rem;
      padding-right: 2.8rem;
      width: 8rem;
    }

    &__arrow-icon {
      right: 0.8rem;
    }
  }

  // Result
  .assignments-filter-result {
    display: flex;
    position: relative;

    &__item {
      padding-left: 1rem;
      padding-right: 2.5rem;
    }

    &__amount {
      width: 3rem;
      margin-right: 1rem;
    }

    &__title {
      font-size: 1.1rem;
    }
  }

  // Total
  .assignments-filter-result-total {
    min-width: 15rem;
    padding-left: 1.3rem;
    padding-right: 2.5rem;
  }

}
