
/*
================================================================================

  "Assessment Player" page

================================================================================
*/


.assessment {
}






/* TOOLBAR
============================================================ */

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f3f3f3;
  box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.17);

  &__container {
    display: flex;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 9rem;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    text-decoration: none;

    &:hover {
      svg {
        fill: darken(#0eb08d, 10%);
      }
    }


    // Icon
    svg {
      width: 2.1rem;
      height: 2.1rem;
      fill: #0eb08d;
      transition: all 200ms ease;
    }
  }

  &__actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100.8rem;
  }

  &__right-part {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}



/* Question
------------------------------------ */

.toolbar-question {
  position: relative;
  margin-right: 1rem;

  &__selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7rem;
    padding-right: 1.7rem;
    width: 20rem;
    height: 5.8rem;
    color: $title-color;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(#000, 0.07);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: (19/14);
    cursor: pointer;


    // Opened
    &.js-opened {
      position: relative;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;


      // Fake element
      &::after {
        content: '';
        position: absolute;
        top: 5.6rem;
        left: 0;
        right: 0;
        height: 0.5rem;
        background-color: #fff;
      }


      // Icon
      svg {
        transform: rotate(180deg);
      }
    }


    // Icon
    svg {
      width: 1.1rem;
      height: 0.6rem;
      fill: $blue-color;
      transition: all 200ms ease;
    }
  }

  &__dropdown {
    position: absolute;
    top: 5.8rem;
    left: 0;
    right: 0;
    display: none;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
    list-style-type: none;


    // Opened state
    &.js-opened {
      display: block;
    }
  }

  &__item {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    height: 5rem;
    color: $title-color;
    background-color: #fff;
    border-bottom: 0.1rem solid #f5f5f5;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: 4.9rem;
    transition: background-color 200ms ease;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $light-green-color;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}



/* Navigation
------------------------------------ */

.toolbar-nav {
  display: flex;
  align-items: center;
  margin-right: 4.2rem;

  &__prev-btn {
    margin-right: 1rem;
    padding: 0;
    width: 5.8rem;
    height: 5.8rem;
    background-color: $light-green-color;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    transition: background-color 200ms ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken($light-green-color, 10%);
    }


    // Disabled modifier
    &--disabled {
      background-color: #cfcfcf;
      cursor: default;

      &:hover,
      &:focus {
        background-color: #cfcfcf;
      }
    }


    // Icon
    svg {
      width: 1.2rem;
      height: 2rem;
      fill: #fff;
    }
  }

  &__next-btn {
    padding: 0;
    width: 5.8rem;
    height: 5.8rem;
    background-color: $light-green-color;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    transition: background-color 200ms ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken($light-green-color, 10%);
    }


    // Disabled modifier
    &--disabled {
      background-color: #cfcfcf;
      cursor: default;

      &:hover,
      &:focus {
        background-color: #cfcfcf;
      }
    }


    // Icon
    svg {
      transform: rotate(180deg);
      width: 1.2rem;
      height: 2rem;
      fill: #fff;
    }
  }
}



/* Help
------------------------------------ */

.toolbar-help {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  &__btn {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.3rem;
    padding-right: 2.2rem;
    height: 4.1rem;
    color: #756e6e;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: normal;
    text-transform: uppercase;
    transition: background-color 200ms ease;
    cursor: pointer;
    
    &:hover,
    &:focus {
      background-color: darken(#e5e5e5, 5%);
    }

    &:last-child {
      margin-right: 0;
    }


    // Hint modifier
    &--hint {
      svg {
        width: 1.4rem;
        height: 2rem;
        fill: #afafaf;
        stroke: #afafaf;
      }
    }

    // Bookmark modifier
    &--bookmark {
      svg {
        width: 1.4rem;
        height: 1.7rem;
        fill: #afafaf;
      }
    }


    // Icon
    svg {
      margin-right: 1.4rem;
    }
  }
}



/* Tools
------------------------------------ */

.toolbar-tools {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0;
    width: 4.1rem;
    height: 4.1rem;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    transition: background-color 200ms ease;
    cursor: pointer;
    
    &:hover,
    &:focus {
      background-color: darken(#e5e5e5, 5%);
    }
    
    &:last-child {
      margin-right: 0;
    }


    // Cursor modifier
    &--cursor {
      svg {
        width: 1.1rem;
        height: 1.6rem;
      }
    }

    // Ruler modifier
    &--ruler {
      svg {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    // Calculator modifier
    &--calculator {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    // Remove modifier
    &--remove {
      svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    // Protractor modifier
    &--protractor {
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }


    // Active state
    &.js-active {
      background-color: $blue-color;


      // Icon
      svg {
        fill: #fff;
      }
    }


    // Icon
    svg {
      fill: #afafaf;
      transition: fill 200ms ease;
    }
  }
}



/* More button
------------------------------------ */

.toolbar-more-btn {
  display: none;
  padding: 0;
  width: 5.2rem;
  height: 5.2rem;
  background-color: $blue-color;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;


  // Icon
  svg {
    width: 2.3rem;
    height: 2.2rem;
    fill: #fff;
  }
}



/* Timer
------------------------------------ */

.toolbar-timer {
  display: flex;
  align-items: center;
  margin-right: 2.7rem;

  &__icon {
    margin-right: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    fill: #756e6e;
  }

  &__value {
    color: #756e6e;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.07rem;
    line-height: (19/14);
  }
}



/* User
------------------------------------ */

.toolbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.9rem;
  padding-right: 1rem;
  width: 8.5rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 6.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgba($blue-color, 0.05);
  }

  &__avatar {
    width: 4.4rem;
    height: 4.4rem;

    // Image
    img {
      display: block;
      max-width: 100%;
    }
  }

  &__arrow-icon {
    width: 1.1rem;
    height: 0.7rem;
    fill: $blue-color;
  }
}






/* PLAYER
============================================================ */

.assessment-main {
  margin-bottom: 7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15rem;
    padding-bottom: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 100.8rem;
    min-height: 100vh;
    background-color: #fff;
  }
}



/* Task
------------------------------------ */

.task {
  padding-left: 11.2rem;
  padding-right: 11.2rem;

  &__title {
    margin-bottom: 3rem;
    color: #444;
    font-size: 2rem;
    line-height: (26/20);


    // Strong
    strong {
      font-weight: 600;
    }


    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__variants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }


  // Selected state
  &.js-selected {

    // Icon
    .task-item__icon {
      color: #fff;
      background-color: $light-green-color;
    }
  }


  &__icon {
    margin-right: 2.5rem;
    width: 3.6rem;
    height: 3.6rem;
    color: #444;
    background-color: #fff;
    border: 0.2rem solid $light-green-color;
    border-radius: 50%;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 3.2rem;
    text-align: center;
    transition: all 200ms ease;
  }

  &__title {
    font-size: 1.4rem;
    line-height: (26/14);


    // Strong
    strong {
      font-weight: 600;
    }
  }
}

.task-item-multi {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }


  // Selected state
  &.js-selected {

    // Icon
    .task-item-multi__icon {

      // Check
      &::after {
        opacity: 1;
      }
    }
  }


  &__icon {
    position: relative;
    margin-right: 2.3rem;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.2rem solid #b1b1b1;


    // Check
    &::after {
      content: '';
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      width: 1rem;
      height: 1rem;
      background-color: $light-green-color;
      border-radius: 0.2rem;
      opacity: 0;
      transition: all 200ms ease;
    }
  }

  &__title {
    font-size: 1.4rem;
    line-height: (26/14);


    // Strong
    strong {
      font-weight: 600;
    }
  }
}

.task-item-true-false {
  margin-bottom: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  width: 100%;
  max-width: 56rem;
  height: 5rem;
  color: #444;
  background-color: #fff;
  border: 0.1rem solid #e2e2e2;
  outline: 0;
  font-size: 1.4rem;
  line-height: 4.8rem;
  text-align: left;
  transition: all 200ms ease;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $light-green-color;
    border-color: $light-green-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1600px
@include mq($until: mq1600px) {

  // Toolbar
  .toolbar {

    &__container {
      display: flex;
      align-items: center;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      padding-left: 4rem;
      padding-right: 4rem;
      height: 9rem;
    }

    &__logo {
      position: absolute;
      top: 50%;
      left: 4rem;
      transform: translateY(-50%);
      text-decoration: none;

      &:hover {
        svg {
          fill: darken(#0eb08d, 10%);
        }
      }


      // Icon
      svg {
        width: 2.1rem;
        height: 2.1rem;
        fill: #0eb08d;
        transition: all 200ms ease;
      }
    }

    &__actions {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 100.8rem;
    }
  }

  // Toolbar navigation
  .toolbar-nav {
    margin-right: 2.3rem;
  }

  // Help
  .toolbar-help {
    margin-right: 1rem;
  }

  // Tools
  .toolbar-tools {
    margin-left: 0;
  }

  // Timer
  .toolbar-timer {
    margin-right: 1rem;
  }

}


// Until 1280px
@include mq($until: mq1280px) {

  // Toolbar
  .toolbar {

    &__container {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      height: 8rem;
    }

    &__logo {
      margin-right: 2rem;
      position: static;
      transform: none;
    }

    &__right-part {
      position: static;
      transform: none;
    }
  }

  // Question
  .toolbar-question {

    &__selector {
      padding-left: 2.5rem;
      padding-right: 1.5rem;
      width: 18.8rem;
      height: 4.1rem;
    }

    &__dropdown {
      top: 4.1rem;
    }

    &__item {
      padding-left: 2.5rem;
      padding-right: 1.5rem;
      height: 4.1rem;
      line-height: 4rem;
    }
  }

  // Navigation
  .toolbar-nav {
    margin-right: 1rem;

    &__prev-btn,
    &__next-btn {
      width: 4.1rem;
      height: 4.1rem;

      // Icon
      svg {
        width: 1rem;
        height: 1.7rem;
      }
    }
  }

  // Help
  .toolbar-help {

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      width: 4.1rem;
      height: 4.1rem;

      // Icon
      svg {
        margin-right: 0;
      }

      // Text
      span {
        display: none;
      }
    }
  }

}


// Until 1024px
@include mq($until: mq1024px) {

  // Toolbar
  .toolbar {

    &__container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      height: 14.8rem;
    }

    &__logo {
      order: 1;
    }

    &__actions {
      order: 3;
      margin-top: auto;
      width: 100%;
    }

    &__right-part {
      order: 2;
    }
  }

  // Tools
  .toolbar-tools {
    margin-left: auto;
  }

  // Timer
  .toolbar-timer {
    margin-right: 4.2rem;
  }

  // Main
  .assessment-main {
    margin-bottom: 2.5rem;

    &__container {
      padding-top: 18rem;
    }
  }

  // Task
  .task {
    padding-left: 5rem;
    padding-right: 5rem;
  }

}


// Until 768px
@include mq($until: mq768px) {

  // Question
  .toolbar-question {
    margin-right: 0.7rem;

    &__selector {
      height: 5.2rem;
    }

    &__dropdown {
      top: 5.2rem;
    }
  }

  // Toolbar navigation
  .toolbar-nav {
    margin-right: 0.7rem;

    &__prev-btn {
      margin-right: 0.7rem;
      width: 5.2rem;
      height: 5.2rem;

      // Icon
      svg {
        width: 1.2rem;
        height: 2rem;
      }
    }

    &__next-btn {
      width: 5.2rem;
      height: 5.2rem;

      // Icon
      svg {
        transform: rotate(180deg);
        width: 1.2rem;
        height: 2rem;
        fill: #fff;
      }
    }

  }

  // Toolbar items
  .toolbar-help,
  .toolbar-tools {
    display: none;
  }

  // More button
  .toolbar-more-btn {
    display: block;
    margin-left: auto;
  }

  // Timer
  .toolbar-timer {

    &__value {
      font-size: 1.8rem;
      letter-spacing: 0.09rem;
      line-height: (24/18);
    }
  }

  // Main
  .assessment-main {

    &__container {
      padding-top: 16rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Task
  .task {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &__title {
      font-size: 2rem;
      line-height: (30/20);
    }
  }

}


// Until 568px
@include mq($until: mq568px) {

  // Toolbar
  .toolbar {
    position: relative;
  }

  // Main
  .assessment-main {

    &__container {
      padding-top: 3.5rem;
    }
  }

}


// Until 414px
@include mq($until: mq414px) {

  // Toolbar
  .toolbar {

    &__container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  // Question
  .toolbar-question {

    &__selector {
      height: 4.6rem;
    }

    &__dropdown {
      top: 4.6rem;
    }
  }

  // Toolbar navigation
  .toolbar-nav {

    &__prev-btn,
    &__next-btn {
      width: 4.6rem;
      height: 4.6rem;

      // Icon
      svg {
        width: 1rem;
        height: 1.7rem;
      }
    }

  }

  // Toolbar more button
  .toolbar-more-btn {
    width: 4.6rem;
    height: 4.6rem;


    // Icon
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  // Timer
  .toolbar-timer {
    margin-right: 2rem;
  }

  // Main
  .assessment-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // Task
  .task {

    &__title {
      font-size: 1.8rem;
    }
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Question
  .toolbar-question {
    margin-right: 0.5rem;

    &__selector {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 15.5rem;
      height: 4rem;
    }

    &__dropdown {
      top: 4rem;
    }
  }

  // Toolbar navigation
  .toolbar-nav {
    margin-right: 0.5rem;

    &__prev-btn {
      margin-right: 0.5rem;
    }

    &__prev-btn,
    &__next-btn {
      width: 4rem;
      height: 4rem;
    }

  }

  // Toolbar more button
  .toolbar-more-btn {
    width: 4rem;
    height: 4rem;
  }

  // Main
  .assessment-main {

    &__container {
      padding-top: 2.5rem;
    }
  }

  // Task
  .task {
    padding-left: 2rem;
    padding-right: 2rem;

    &__title {
      font-size: 1.6rem;
    }
  }

}
