
/*
================================================================================

  Main

================================================================================
*/


.main {
  display: flex;
  flex-direction: column;
  margin-left: 24.5rem;
  padding-left: 4.6rem;
  padding-right: 4.6rem;


  // Expanded state
  &.js-collapsed {
    margin-left: 10rem;
  }
}






/* HAMBURGER
============================================================ */

.hamburger {
  display: none;
  margin-right: 2.5rem;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;


  // Icon
  svg {
    width: 1.8rem;
    height: 1.5rem;
    fill: #fff;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1280px
@include mq($until: mq1280px) {

  // Main
  .main {
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;


    // Expanded state
    &.js-collapsed {
      margin-left: 0;
    }
  }

  // Hamburger
  .hamburger {
    display: block;
  }

}
