
/*
================================================================================

  Sidebar

================================================================================
*/


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  width: 24.5rem;
  background-color: #fbfafc;
  box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.16);


  // Collapsed state
  &.js-collapsed {
    width: 10rem;


    // Header
    .s-header {
      padding-left: 0;
      padding-right: 0;

      &__container {
        padding-left: 4rem;
        padding-right: 1.2rem;
      }

      &__logo {
        display: none;
      }

      &__logo-compact {
        display: block;
      }

      &__arrow-btn {
        transform: rotate(180deg);
      }
    }

    // Navigation
    .s-nav-link {

      &__title {
        display: none;
      }
    }

    // Help
    .s-help-btn {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      width: 6rem;
      height: 6rem;
      border-radius: 100%;

      &__icon {
        margin-right: 0;
      }

      &__title {
        display: none;
      }
    }

    // User
    .s-user {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      width: 6rem;
      height: 6rem;

      &__avatar {
        margin-right: 0;
      }

      &__info {
        display: none;
      }

      &__arrow {
        display: none;
      }
    }
  }
}






/* HEADER
============================================================ */

.s-header {
  margin-bottom: 3.7rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
    border-bottom: 0.1rem solid #d9d6d6;
  }

  &__close-btn {
    display: none;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;


    // Icon
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $green-color;
    }
  }

  &__logo {
    margin-left: 1.5rem;
    width: 12rem;
    height: 2.1rem;
  }

  &__logo-compact {
    display: none;
    width: 2.2rem;
    height: 2.1rem;
    fill: #0eb08d;
  }

  &__arrow-btn {
    width: 1rem;
    height: 1.6rem;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:hover,
    &:focus {

      // Icon
      svg {
        fill: $green-color;
      }
    }


    // Icon
    svg {
      width: 1rem;
      height: 1.6rem;
      fill: $light-green-color;
      transition: all 200ms ease;
    }
  }
}






/* NAVIGATION
============================================================ */

.s-nav {
  
  &__list {
    margin-top: 0;
    margin-bottom: 4rem;
    padding-left: 0;
    list-style-type: none;
  }
  
  &__item {
    margin-bottom: 2.7rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



/* Item
------------------------------------ */

.s-nav-link {
  display: flex;
  align-items: center;
  padding-left: 4.1rem;
  height: 4.6rem;
  outline: 0;
  text-decoration: none;
  transition: background-color 200ms ease;

  &:hover,
  &:focus {
    background-color: rgba($green-color, 0.1);
  }

  &:last-child {
    margin-bottom: 0;
  }



  // Active state
  &:not([href]) {
    position: relative;
    cursor: default;

    &:hover,
    &:focus {
      background-color: transparent;
    }


    // Left bar
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0.3rem;
      background-color: $green-color;
    }


    // Icon
    .s-nav-link__icon {
      fill: $green-color;
    }

    // Title
    .s-nav-link__title {
      color: $green-color;
    }
  }


  &__icon {
    flex-shrink: 0;
    fill: $title-color;


    // Dashboard modifier
    &--dashboard {
      margin-right: 1.4rem;
      width: 2.2rem;
      height: 2.2rem;
    }

    // Assignments modifier
    &--assignments {
      margin-right: 1.6rem;
      width: 2rem;
      height: 2.6rem;
    }

    // Skill Report modifier
    &--skill-report {
      margin-right: 1.3rem;
      width: 2.4rem;
      height: 2.2rem;
    }

    // Manage Class modifier
    &--manage-class {
      margin-right: 1.5rem;
      width: 2.3rem;
      height: 2.5rem;
    }
  }

  &__title {
    color: $title-color;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: (19/14);
    transition: all 200ms ease;
  }
}






/* HELP BUTTON
============================================================ */

.s-help-btn {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  width: calc(100% - 4.2rem);
  height: 6rem;
  background-color: #fff;
  border-radius: 6.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
  outline: 0;
  text-decoration: none;
  transition: background-color 200ms ease;

  &:hover,
  &:focus {
    background-color: $light-green-color;


    // Icon
    .s-help-btn__icon {
      fill: #fff;
    }
  }


  &__icon {
    margin-right: 2.8rem;
    width: 1.8rem;
    height: 2.5rem;
    fill: $light-green-color;
    transition: fill 200ms ease;
  }

  &__title {
    color: #7a7a7a;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: 1;
  }
}






/* USER SELECTOR
============================================================ */

.s-user {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.3rem;
  padding-right: 2.7rem;
  width: calc(100% - 4.2rem);
  height: 6rem;
  background-color: $light-green-color;
  border-radius: 6.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.07);
  outline: 0;
  transition: background-color 200ms ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($light-green-color, 5%);
  }


  &__avatar {
    overflow: hidden;
    margin-right: 1.3rem;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;

    // Image
    img {
      display: block;
      width: 100%;
    }
  }

  &__info {
  }

  &__title {
    margin-bottom: 0.1rem;
    color: #057750;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: (19/14);
  }

  &__occupation {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    line-height: (17/12);
  }

  &__arrow {
    margin-left: auto;
    width: 1.1rem;
    height: 0.6rem;
    fill: #fff;
  }
}






/* ================================================================================
   RESPONSIVENESS
================================================================================ */

// Until 1280px
@include mq($until: mq1280px) {

  // Sidebar
  .sidebar {
    transform: translateX(-26.5rem);
    transition: transform 200ms ease;


    // Opened state
    &.js-opened {
      transform: translateX(0);
    }
  }

  // Header
  .s-header {
    padding-left: 2.2rem;
    padding-right: 2.2rem;

    &__container {
      justify-content: flex-start;
      padding-top: 2.7rem;
      padding-bottom: 2.6rem;
    }

    &__close-btn {
      display: block;
    }

    &__arrow-btn {
      display: none;
    }
  }

}


// Until 768px
@include mq($until: mq768px) {

  // Sidebar
  .sidebar {
    transform: translateX(-100%);
    width: 100%;
    max-width: 41.4rem;
  }

  // Header
  .s-header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 4rem;

    &__container {
      padding-left: 2.2rem;
      padding-right: 2.5rem;
    }

    &__logo {
      margin-left: 2.6rem;
      width: 12.1rem;
      height: 2.2rem;
    }
  }

  // Navigation item
  .s-nav-link {
    padding-left: 6rem;

    &__icon {

      // Dashboard modifier
      &--dashboard {
        margin-right: 6.5rem;
      }

      // Assignments modifier
      &--assignments {
        margin-right: 6.7rem;
      }

      // Skill Report modifier
      &--skill-report {
        margin-right: 6.4rem;
      }

      // Manage Class modifier
      &--manage-class {
        margin-right: 6.3rem;
      }
    }

    &__title {
      font-size: 1.8rem;
    }
  }

  // Help
  .s-help-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: calc(100% - 5.2rem);
    height: 6.4rem;

    &__title {
      margin-left: 0.4rem;
      font-size: 1.6rem;
    }

    &__icon {
      margin-right: 7.4rem;
    }
  }

  // User
  .s-user {
    padding-left: 2rem;
    padding-right: 2.5rem;
    width: calc(100% - 5.2rem);
    height: 6.4rem;

    &__title {
      margin-left: 0.2rem;
      font-size: 1.6rem;
    }

    &__occupation {
      margin-left: 0.2rem;
    }

    &__avatar {
      margin-right: 5.6rem;
    }
  }

}


// Until 414px
@include mq($until: mq414px) {

  // Sidebar
  .sidebar {
    padding-bottom: 2rem;
  }

  // Header
  .s-header {
    margin-bottom: 2rem;
  }

  // Navigation
  .s-nav {

    &__list {
      margin-bottom: 2rem;
    }

    &__item {
      margin-bottom: 1rem;
    }
  }

  // Navigation item
  .s-nav-link {
    padding-left: 4rem;

    &__icon {

      // Dashboard modifier
      &--dashboard {
        margin-right: 4.5rem;
      }

      // Assignments modifier
      &--assignments {
        margin-right: 4.7rem;
      }

      // Skill Report modifier
      &--skill-report {
        margin-right: 4.4rem;
      }

      // Manage Class modifier
      &--manage-class {
        margin-right: 4.3rem;
      }
    }

    &__title {
      font-size: 1.7rem;
    }
  }

}


// Until 375px
@include mq($until: mq375px) {

  // Header
  .s-header {

    &__container {
      padding-top: 1.8rem;
      padding-bottom: 1.7rem;
    }

    &__logo {
      width: 10rem;
      height: 1.9rem;
      transform: translateZ(0);
    }
  }

  // Navigation
  .s-nav {

    &__item {
      margin-bottom: 0.6rem;
    }
  }

  // Navigation item
  .s-nav-link {
    padding-left: 3rem;

    &__icon {

      // Dashboard modifier
      &--dashboard {
        margin-right: 3.5rem;
      }

      // Assignments modifier
      &--assignments {
        margin-right: 3.7rem;
      }

      // Skill Report modifier
      &--skill-report {
        margin-right: 3.4rem;
      }

      // Manage Class modifier
      &--manage-class {
        margin-right: 3.3rem;
      }
    }

    &__title {
      font-size: 1.6rem;
    }
  }

  // Help
  .s-help-btn {
    height: 5.4rem;

    &__icon {
      margin-right: 2rem;
    }

    &__title {
      margin-left: 0;
      font-size: 1.4rem;
    }
  }

  // User
  .s-user {
    padding-left: 1.5rem;
    height: 5.4rem;

    &__avatar {
      margin-right: 1.4rem;
      width: 3.6rem;
      height: 3.6rem;
    }

    &__title {
      margin-left: 0;
      font-size: 1.4rem;
    }

    &__occupation {
      margin-left: 0;
    }
  }

}
